<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dyl.anjon.es.traintrack"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="dyl.anjon.es.traintrack.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dyl.anjon.es.traintrack.StationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="dyl.anjon.es.traintrack.ScheduleActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="dyl.anjon.es.traintrack.JourneyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="dyl.anjon.es.traintrack.JourneyLegActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="dyl.anjon.es.traintrack.SettingsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
    </application>

</manifest>